<div class="main-content">
  <div class="page-content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <%= link_to 'Back', admin_own_tokens_path, class: "btn btn-secondary w-md add_btn back-btn" %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title"><%= t("admin.own_tokenss.show.title") %></h4>

            <div class="form-group row">
              <label for="example-text-input" class="col-md-2 col-form-label"><%= t("admin.own_tokens.show.name") %></label>
              <div class="col-md-10">
                <p class="pt-2"><%= @token.name %></p>
              </div>
            </div>
            <div class="form-group row">
              <label for="example-email-input" class="col-md-2 col-form-label"><%= t("admin.own_tokens.show.symbol") %></label>
              <div class="col-md-10">
                <p class="pt-2"><%= @token.symbol %></p>
              </div>
            </div>
            <div class="form-group row">
              <label for="example-email-input" class="col-md-2 col-form-label"><%= t("admin.own_tokens.show.address") %></label>
              <div class="col-md-10">
                <p class="pt-2"><%= @token.address %></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>