<div id="Reportuser-modal" class="zoom-anim-dialog mfp-hide modal sm_modal">
  <button class="modal__close md_cls" type="button"><i class="fas fa-times"></i></button>
  <div class="modal-body">
    <div class="container-fluid">
      <div class="row justify-content-center">
        <div class="col-12 text-center">
          <h4 class="mb-4"><%= t('users.show.report_user') %></h4>

          <p class="mb-0 size-13 weight-500 color-grey">
            <span class="innertitle"> <%= t('users.show.report_message') %></span>
            <span class="frm-title"><b><%= @user.full_name %></b></span>
          </p>

          <%= form_tag report_users_path(id: @user.address), method: :post, multipart: true, remote: true, authenticity_token: true, id: 'reportUserForm' do %>
            <div class="">
              <div class="row pt-3 mb-3 text-left">
                <div class="col-12">
                  <p class="mb-2 color-grey size-13 weight-500">Message</p>
                  <%= hidden_field_tag 'report_user[user_id]', @user.address %>
                  <div class="form-group">
                    <textarea id="message" name="report_user[message]" class="sign__textarea" placeholder="Enter the Message" required></textarea>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-12 text-center modal-footer">
              <a class="btn btn-blue theme-btn stick-cursor parallax-elements js-tilt bidding-element-btn triggerReportUserValidation btn-effect" href="" role="button">Report</a>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>