<div class="user-wrapper">
  <div class="user-container">

    <% if @user.banner.present? %>
      <div class="user-bg-img">
        <%= image_tag @user.banner, class: "animate__animated animate__zoomIn cover-img" %>
      </div>
    <% else %>
      <div class="user-bg-img">
        <div class="animate__animated animate__zoomIn cover-img default-background"></div>
      </div>
    <% end %>

    <div class="user-img animate__animated animate__zoomIn">
      <%= image_tag @user.profile_image, class: "user-detail-img" %>
    </div>

    <% if current_user && @user.address == current_user.address %>
      <div class='user-det-referral'>
      <% else %>
        <div>
        <%end%>
        <div class="user-det-container animatable fadeInLeft">
          <div class="user-det-item">
            <h2>Profile Detail <span class="followers"><%= @user.followers.count %> Followers</span></h2>
          </div>

          <p class="user-det-item__full_name"><%= @user.full_name %></p>

          <% if @user.twitter_link.present? || @user.personal_url.present? %>
            <div class="user-globe animatable fadeInLeft">
              <% if @user.personal_url.present? %>
                <div class="details-tags-item personal_link">
                  <div class="tabs-col-usr">
                    <%= image_tag 'globe.svg', class: 'personal_link__icon' %>
                  </div>
                  <a href="<%= @user.personal_url%>" class="tabs-col-usr personal_link__url" target="_blank"><%= @user.personal_url %></a>
                </div>
              <% end %>
              <% if @user.twitter_link.present? %>
                <div class="details-tags-item personal_link">
                  <div class="tabs-col-usr ">
                    <i class="fa-brands fa-twitter personal_link__icon"></i>
                  </div>
                  <a href="<%= @user.twitter_link %>" class="tabs-col-usr personal_link__url" target="_blank"><%= @user.twitter_link %></a>
                </div>
              <% end %>
            </div>
          <% end %>

          <div class="user-wrap-para">
            <p class='user-wrap-para__bio'><%= @user.bio %></p>
          </div>

        </div>
        <% if current_user && @user.address == current_user.address %>
          <div class="user-det-container animatable fadeInLeft">
            <div class="user-det-item">
              <h3>Referral Rewards</h3>
            </div>
            <div class='view-referral-rewards'>
              <span id="view-rewards" class='btn-effect ref-claim-button'>View Rewards</span>
            </div>
            <div class='claim-soku-referral'>
              <p><span id='sokuReferralRewards'></span> SOKU </p>
              <span id="claimSokuRewards" class='btn-effect ref-claim-button'>Claim</span>
            </div>

            <div class='claim-eth-referral'>
              <p><span id='wethReferralRewards'></span> ETH </p>
              <span id="claimWethRewards" class='btn-effect ref-claim-button'>Claim</span>
            </div>
            <div class='no-current-rewards'>
              <p>No Rewards Available.</p>
            </div>
            <div class='loading-rewards'>
              <p>Loading...</p>
            </div>
          </div>
        </div>
      <%end%>

       <div class="dd">
        <% if current_user.present? && current_user != @user && !current_user.followees.include?(@user) %>
          <%= link_to follow_users_path(id: @user.address), class: "author__follow btn-effect" do %>
            <i class="fa fa-user-plus color-white"></i>
            <span class="color-white" style="margin-left: 2px;"><%= t("users.show.follow") %></span>
          <% end %>
        <% end %>

        <% if current_user.present? && current_user != @user && current_user.followees.include?(@user) %>
          <%= link_to unfollow_users_path(id: @user.address), class: "author__follow btn-effect" do %>
            <i class="fa fa-user-plus color-white"></i>
            <span class="color-white" style="margin-left: 2px;"><%= t("users.show.unfollow") %></span>
          <% end %>
        <% end %>
      </div>

      <div class="ver_rep_main">
        <div>
          <% if current_user && @user&.is_verified %>
            <a href="javascript:void(0);" class="verifier btn-effect">Verified</a>
          <% end %>
        </div>
        <div>
          <% if current_user && @user.address != current_user.address %>
            <% if @user.already_reported(current_user.id) %>
              <a href="javascript:void(0);" class="btn btn-pastel btn-grey stick-cursor parallax-elements js-tilte btn-effect">Reported</a>
            <% else %>
              <a  href="javascript:void(0)" onclick="window.show_modal('#Reportuser-modal')" class="btn btn-pastel stick-cursor parallax-elements js-tilte btn-effect">Report User</a>
            <% end %>
          <% end %>
        </div>
      </div>

      <div class="profile old-user-profile">
        <!-- tabs nav -->

        <ul class="nav nav-tabs profile__tabs animatable fadeInUp" id="profile__tabs" role="tablist">
          <li class="nav-item">
            <a class="nav-link <%= "active" if @tab == "my_collections" %>" href="<%= user_path(id: @user.address, tab: "my_collections", page_no: @page_no) %>" >My Collections</a>
          </li>
          <li class="nav-item">
            <a class="nav-link <%= "active" if @tab.nil? %>" href="<%= user_path(id: @user.address) %>"><%= t("users.show.on_sale") %></a>
          </li>
          <li class="nav-item">
            <a class="nav-link <%= "active" if @tab == "owner" %>" href="<%= user_path(id: @user.address, tab: "owner", page_no: @page_no) %>">Owned on SokuNFT</a>
          </li>
          <li class="nav-item">
            <a class="nav-link <%= "active" if @tab == "my_bids" %>" href="<%= user_path(id: @user.address, tab: "my_bids", page_no: @page_no) %>">My Bids</a>
          </li>
          <li class="nav-item">
            <%= link_to user_path(id: @user.address, tab: "following"), :class => "nav-link #{"active" if @tab == "following"}" do %>
              Following
              <span class="notify"><%= @followees_count %></span>
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to user_path(id: @user.address, tab: "followers"), class: "testValFollower nav-link #{"active" if @tab == "followers"}" do %>
              Followers
              <span class="notify"><%= @followers_count %></span>
            <% end %>
          </li> 
          <li class="nav-item">
            <a class="nav-link <%= "active" if @tab == "created" %>" href="<%= user_path(id: @user.address, tab: "created", page_no: @page_no) %>"><%= t("users.show.created") %></a>
          </li>
          <li class="nav-item">
            <a class="nav-link <%= "active" if @tab == "collectibles" %>" href="<%= user_path(id: @user.address, tab: "collectibles", page_no: @page_no) %>"><%= t("users.show.collectibles") %></a>
          </li>
          <li class="nav-item">
            <a class="nav-link <%= "active" if @tab == "activity" %>" href="<%= user_path(id: @user.address, tab: "activity") %>"><%= t("users.show.activity") %></a>
          </li>
          <li class="nav-item">
            <a class="nav-link <%= "active" if @tab == "liked" %>" href="<%= user_path(id: @user.address, tab: "liked") %>"><%= t("users.show.liked") %></a>
          </li>
          <% if @user.address == current_user.try(:address) %>
            <li class="nav-item">
              <%= link_to user_path(id: @user.address, tab: "nft_collections"), class: "nav-link #{"active" if @tab == "nft_collections"}" do %>
                <%= "NFT's from Wallet" %>
              <% end %>
            </li>
          <% end %>
        </ul>
        <!-- end tabs nav -->
      </div>

     <% if @tab == "following" %>
        <div id="following" class="tab-pane fade <%= "show active" if @tab == "following" %>">
          <% if @data.present? %>
            <%= render "follow", follows: @data, id: "following" %>
          <% else %>
            <%= render partial: "common/empty" %>
          <% end %>
        </div>
      <% end %>

      <% if @tab == "followers" %>
        <div id="followers" class="<%= "show active" if @tab == "followers" %>">
          <% if @data.present? %>
            <%= render "follow", follows: @data, id: "followers", followees: @data %>
          <% else %>
            <%= render partial: "common/empty" %>
          <% end %>
        </div>
      <% end %> 

      <!-- content tabs -->
      <div class="tab-content user-collection-section">
        <div class="tab-pane fade <%= "active show" if !["liked", "activity", "following", "followers"].include?(@tab) %>" id="tab-1" role="tabpanel">
          <div class="row row--grid">

            <% if !["liked", "activity", "following", "followers", "nft_collections"].include?(@tab) and @data.present? %>

              <% # @data.each do |collection| %>
                <%# <div class="col-12 col-md-6 col-lg-4"> %>
                <% #= render "/dashboard/collection_card", collection: collection %>
                <%# </div> %>
                <% # end %>

                <% if @tab == "my_collections" %>
                  <div class="swiper topSwiper animatable fadeInRight">
                    <div class="swiper-wrapper">
                      <% @data.each do |single_contract| %>
                        <%= render "dashboard/own_contract", contract: single_contract %>
                      <% end %>
                    </div>
                  </div>
                <% else %>
                  <% @data.each do |collection| %>
                    <%= render "/dashboard/collection_card", collection: collection %>
                  <% end %>
                <% end %>

              <% elsif ["nft_collections"].include?(@tab) and @data.present? %>
                <div class="row collection-section">
                  <div class="row col-12" style="float: right !important;">
                    <% if @page_no.to_i > 1 %>
                      <p class="text-right margin-10px"><a href="<%= user_path(id: @user.address, tab: "nft_collections", page_no: @page_no.to_i - 1) %>"><span class="pull-right-custom">Previous</span></a></p>
                    <% end %>
                    <% if @data[:next_page] %>
                      <p class="text-right"><a href="<%= user_path(id: @user.address, tab: "nft_collections", page_no: @page_no.to_i + 1) %>"><span class="pull-right-custom">Next</span></a></p>
                    <% end %>
                  </div>
                  <% @data[:collections].each do |collection| %>
                    <%= render "my_collection_card", collection: collection %>
                  <% end %>
                </div>
              <% else %>
                <%= render partial: "common/empty" %>
              <% end %>

            </div>
            <!-- end collapse -->
          </div>

          <!-- Like Section -->
          <div class="tab-pane fade <%= "active show" if @tab == "liked" %>" id="tab-2" role="tabpanel">
            <div class="row row--grid">
              <% if !["activity", "following", "followers"].include?(@tab) and @liked.present? %>

                <% @liked.each do |like| %>
                  <% next unless like.collection.present? %>
                  <%= render "/dashboard/collection_card", collection: like.collection %>
                <% end %>

              <% else %>
                <%= render partial: "common/empty" %>
              <% end %>
            </div>
          </div>
          <!-- Like Section End -->

          <div class="tab-pane fade <%= "active show" if @tab == "activity" %>" id="tab-3" role="tabpanel">
            <div class="row">
              <!-- sidebar
                <div class="col-12 col-xl-4 order-xl-2">
                  <div class="filter-wrap">
                    <button class="filter-wrap__btn" type="button" data-toggle="collapse" data-target="#collapseFilter" aria-expanded="false" aria-controls="collapseFilter"><%= t("users.show.open_filter") %></button>


                    <div class="collapse filter-wrap__content" id="collapseFilter">
                      <% # filter %>
                      <div class="filter filter--sticky">
                        <h4 class="filter__title"><%= t("users.show.filters") %>
                          <a href="<%= my_items_path(:tab => "activity") %>" style="font-size: 12px;"><%= t("users.show.clear_all") %></a>
                        </h4>

                        <div class="filter__group">
                          <ul class="filter__checkboxes">
                            <% options = { user_id: @user.address, tab: "activity" } %>
                            <li>
                              <input id="type5" type="checkbox" name="type5" <%= (is_filter_active(params[:filters], "minted") == "active") ? "checked='true'" : "" %> onclick="window.location.href ='<%= build_filter_path("my_activity", params[:filters], "minted", options) %>'">
                              <label for="type5"><%= t("users.show.minted") %></label>
                            </li>
                            <li>
                              <input id="type9" type="checkbox" name="type9"  <%= (is_filter_active(params[:filters], "bid") == "active") ? "checked='true'" : "" %> onclick="window.location.href ='<%= build_filter_path("my_activity", params[:filters], "bid", options) %>'">
                              <label for="type9"><%= t("users.show.bids") %></label>
                            </li>
                            <li>
                              <input id="type10" type="checkbox" name="type10"  <%= (is_filter_active(params[:filters], "like") == "active") ? "checked='true'" : "" %> onclick="window.location.href ='<%= build_filter_path("my_activity", params[:filters], "like", options) %>'">
                              <label for="type10"><%= t("users.show.likes") %></label>
                            </li>
                            <li>
                              <input id="type11" type="checkbox" name="type11"  <%= (is_filter_active(params[:filters], "following") == "active") ? "checked='true'" : "" %> onclick="window.location.href ='<%= build_filter_path("my_activity", params[:filters], "following", options) %>'">
                              <label for="type11"><%= t("users.show.followings") %></label>
                            </li>
                          </ul>
                        </div>
                      </div>
                      <% # end filter %>
                    </div>
                  </div>
                </div>
                end sidebar -->

              <!-- content -->

              <div class="row row--grid">

                <% if @tab == "activity" and @data.present? %>
                  <div class="activity-container fadeInUp animated">
                    <% @data and @data.each do |activity| %>
                      <% next if activity.item.blank? %>
                      <% if ["Follow", "Like", "Collection", "Bid"].include?(activity.item_type) %>
                        <%= render "activities/#{activity.item_type.downcase}", activity: activity if ["Follow", "Like", "Collection", "Bid"].include?(activity.item_type) %>
                      <% end %>
                    <% end %>
                  </div>
                <% else %>
                  <%= render partial: "common/empty" %>
                <% end %>

              </div>

              <!-- end content -->
            </div>
          </div>

          <div class="tab-pane fade" id="tab-4" role="tabpanel">
            <div class="row row--grid">
              <!-- details form -->
              <div class="col-12 col-lg-6">
                <form action="#" class="sign__form sign__form--profile">
                  <div class="row">
                    <div class="col-12">
                      <h4 class="sign__title"><%= t("users.show.profile_details") %></h4>
                    </div>

                    <div class="col-12 col-md-6 col-lg-12 col-xl-6">
                      <div class="sign__group">
                        <label class="sign__label" for="username"><%= t("users.show.login") %></label>
                        <input id="username" type="text" name="username" class="sign__input" placeholder="User123">
                      </div>
                    </div>

                    <div class="col-12 col-md-6 col-lg-12 col-xl-6">
                      <div class="sign__group">
                        <label class="sign__label" for="email"><%= t("users.show.email") %></label>
                        <input id="email" type="text" name="email" class="sign__input" placeholder="email@email.com">
                      </div>
                    </div>

                    <div class="col-12 col-md-6 col-lg-12 col-xl-6">
                      <div class="sign__group">
                        <label class="sign__label" for="firstname"><%= t("users.show.first_name") %></label>
                        <input id="firstname" type="text" name="firstname" class="sign__input" placeholder="John">
                      </div>
                    </div>

                    <div class="col-12 col-md-6 col-lg-12 col-xl-6">
                      <div class="sign__group">
                        <label class="sign__label" for="lastname"><%= t("users.show.last_name") %></label>
                        <input id="lastname" type="text" name="lastname" class="sign__input" placeholder="Doe">
                      </div>
                    </div>

                    <div class="col-12">
                      <button class="sign__btn" type="button"><%= t("shared.save") %></button>
                    </div>
                  </div>
                </form>
              </div>
              <!-- end details form -->

              <!-- password form -->
              <div class="col-12 col-lg-6">
                <form action="#" class="sign__form sign__form--profile">
                  <div class="row">
                    <div class="col-12">
                      <h4 class="sign__title"><%= t("users.show.change_password") %></h4>
                    </div>

                    <div class="col-12 col-md-6 col-lg-12 col-xl-6">
                      <div class="sign__group">
                        <label class="sign__label" for="oldpass"><%= t("users.show.old_password") %></label>
                        <input id="oldpass" type="password" name="oldpass" class="sign__input">
                      </div>
                    </div>

                    <div class="col-12 col-md-6 col-lg-12 col-xl-6">
                      <div class="sign__group">
                        <label class="sign__label" for="newpass"><%= t("users.show.new_password") %></label>
                        <input id="newpass" type="password" name="newpass" class="sign__input">
                      </div>
                    </div>

                    <div class="col-12 col-md-6 col-lg-12 col-xl-6">
                      <div class="sign__group">
                        <label class="sign__label" for="confirmpass"><%= t("users.show.confirm_new_password") %></label>
                        <input id="confirmpass" type="password" name="confirmpass" class="sign__input">
                      </div>
                    </div>

                    <div class="col-12 col-md-6 col-lg-12 col-xl-6">
                      <div class="sign__group">
                        <label class="sign__label" for="select">Select</label>
                        <select name="select" id="select" class="sign__select">
                          <option value="0">Option</option>
                          <option value="1">Option 2</option>
                          <option value="2">Option 3</option>
                          <option value="3">Option 4</option>
                        </select>
                      </div>
                    </div>

                    <div class="col-12">
                      <button class="sign__btn" type="button"><%= t("shared.change") %></button>
                    </div>
                  </div>
                </form>
              </div>
              <!-- end password form -->
            </div>
          </div>
        </div>
        <!-- end content tabs -->

      </div>
    </div>

    <%= render partial: "users/report_user" %>

    <script type="text/javascript">
      $(document).ready(function() {
        getReferralRewards()
        $(document).on("click", ".triggerReportUserValidation", function (e) {
          clearToastr();
          e.preventDefault()
          var form = $("#reportUserForm")[0]
          if (!$('#message').val().length) {
            return toastr.error('Please enter valid message');
          } else if (form.checkValidity()) {
            $("#reportUserForm").submit();
          }
        });
      });
    </script>
